*.tar.gz
*.zip
src/spliceai/data/checkpoints/spliceai/*
!src/spliceai/data/checkpoints/spliceai/.gitkeep
src/spliceai/data/respond_files/spliceai/*
!src/spliceai/data/respond_files/spliceai/.gitkeep
*.pyc
.DS_Store/*
.ipynb_checkpoints/*
*.pth
runs/*
.vscode/*
venv/*

.ipynb_checkpoints
.DS_Store
